.textfield{
    margin-left: 40px;
}

.table {
    margin: 0px 40px;
}

th {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #6B778C;
}

.full-name-column a {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    /* or 286% */


    color: #0052CC;
}

.column p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Neutral (Light) / N800 */

    color: #172B4D;
}

a {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #0052CC;
    margin-left: 8px;
}