/* .custom-select-container {
  display: inline-block;
  min-width: 50px;
  text-align: center;
  position: relative;
}

.selected-text {
  /* background-color: #47eded; */
/* padding: 0px 0px; */
/* border-bottom: 1px solid #37b0b0; */
/* } */

/* .selected-text::after { */
/* content: "";
  position: absolute;
  right: 10px;
  top: 16px;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent; */
/* } */

/* .selected-text.active::after {
  top: 8px;
  border-color: transparent transparent #fff transparent;
} */

/* ul {
  margin: 0px;
  padding: 0px;
  padding-left: -40px;
  text-align: center;
  z-index: 9999999999999999999999;
  border: 1px solid;
  list-style-type: none;
  list-style: none;
} */

/* .select-options {
  position: absolute;
  width: 100%;
  z-index: 9999999999999999999999;
} */

/* li {
  margin: 0px;
  border: 1px solid;
  cursor: pointer;
  z-index: 9999999999999999999999;
} */

/* li:hover {
  background-color: #32a6a6;
  color: #ffffff;
}  */
